{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <section>
            {{ include('uuid/index.html.twig',{values :values, name:'Ulid'}) }}
        </section>
    </main>
{% endblock %}
